@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto italic";
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --colour-text-primary: #F9FAF8;
  --colour-text-secondary: #E5E7EB;
  --colour-text-tertiary: #1F2937;
  --colour-bg-primary: #1F2937;
  --colour-bg-secondary: #3882F6;
  --colour-bg-tertiary: #E5E7EB;
  --colour-button-primary: #3882F6;
}

button {
  background-color: var(--colour-bg-secondary);
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  max-width: 10vw;
}

a {
  color: var(--colour-text-secondary);
  font-size: 18px;
  text-decoration: none;
}

/* -------------------- Navigation -------------------- */
.navbar-container {
  background-color: var(--colour-bg-primary);
  color: var(--colour-text-secondary);
  width: 100%;
  height: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.logo {
  margin-top: 50px;
  width: 125px;
  height: auto;
}

.menu-list {
  display: flex;
  list-style: none;
  font-size: 18px;
}

.menu-list-item {
  margin-right: 30px;
}

.menu-list-item a:hover {
  color: var(--colour-button-primary);
  transition: 0.5s ease all;
}

/* -------------------- Media Container -------------------- */
.media-container {
  background-color: var(--colour-bg-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 100px);
  padding-top: 50px;
}

.media-container h2 {
  font-size: 24px;
  color: var(--colour-text-primary);
  padding-bottom: 10px;
  text-align: center;
}

.video-container figure {
  color: var(--colour-text-secondary);
}

